@use "/src/scss/abstracts/mixins" as *;

.sponsors--sect {
  padding: 6rem 0;

  @include lg {
    padding: 8rem 0 10rem 0;
  }
}

.sect--header {
  margin: 0 0 3.5rem 0;
}

.sponsor--list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  gap: 1rem;

  @include max-sm {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  @include sm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
    gap: 1.5rem;
  }

  @include lg {
    gap: 2rem;
    width: 76%;
    margin: auto;
  }
}

.sponsor--item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  background-color: var(--color-white);
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);

  position: relative;
  width: 7.5rem;
  height: 4em;

  @include md {
    width: 10.625rem;
    height: 6rem;
    border-radius: 0.88rem;
  }

  & > img {
    max-width: 60%;
    max-height: 80%;
  }
}

.contact--link {
  color: var(--color-blue-500);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
