<section class="sponsors--sect bg--grey-50">
  <div class="container">
    <header class="sect--header">
      <h1 class="sect--title">Our Sponsors</h1>
      <p class="sect--lead">
        Want to sponsor the largest Developer Festival in the world? <a class="contact--link">Contact Us</a>
      </p>
    </header>

    <h2 class="visually-hidden">Sponsors list</h2>
    <ul class="sponsor--list">
      <li class="sponsor--item">
        <img src="/assets/images/icons/sponsor1.svg" alt="" class="sponsor--img" />
      </li>
      <li class="sponsor--item">
        <img src="/assets/images/icons/sponsor2.svg" alt="" class="sponsor--img" />
      </li>
      <li class="sponsor--item">
        <img src="/assets/images/icons/sponsor3.svg" alt="" class="sponsor--img" />
      </li>
      <li class="sponsor--item">
        <img src="/assets/images/icons/sponsor2.svg" alt="" class="sponsor--img" />
      </li>
      <li class="sponsor--item">
        <img src="/assets/images/icons/sponsor3.svg" alt="" class="sponsor--img" />
      </li>
      <li class="sponsor--item">
        <img src="/assets/images/icons/sponsor2.svg" alt="" class="sponsor--img" />
      </li>
      <li class="sponsor--item">
        <img src="/assets/images/icons/sponsor3.svg" alt="" class="sponsor--img" />
      </li>
    </ul>
  </div>
</section>
