<section>
  <div class="container">
    <app-page-title
      [title]="title"
      [hasSearch]="true"
      [formDetails]="formData"
      (handleSearch)="searchSpeaker($event)"
      (handleSelectFilter)="selectSpeaker($event)"
    ></app-page-title>

    <ul class="speakers--list">
      <li class="speaker--item" app-speaker-card></li>
      <li class="speaker--item" app-speaker-card></li>
      <li class="speaker--item" app-speaker-card></li>
      <li class="speaker--item" app-speaker-card></li>
      <li class="speaker--item" app-speaker-card></li>
      <li class="speaker--item" app-speaker-card></li>
    </ul>
  </div>
</section>
