@use "/src/scss/abstracts/mixins" as *;

:host {
  display: block;
  // background: rgb(255, 255, 242); //Yellow pastel bg
  background: hsl(118, 100%, 97%);

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.9rem;

  @include md {
    padding: 1.8rem 0 2.2rem 0;
    min-height: 30vh;
  }
}

.container {
  @include max-md {
    padding: 0;
  }
}

.banner--img {
  height: 28vh;
  width: 100%;
  object-fit: cover;
  object-position: left;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 36px 0px;
  border-radius: 5px;

  @include tny {
    height: 35vh;
  }

  @include sm {
    height: unset;
  }

  @include md {
    height: unset;
    border-radius: 6px;
  }
}

.banner--img__desktop {
  display: none;

  @include sm {
    display: block;
  }
}

.banner--img__mobile {
  @include sm {
    display: none;
  }
}

