.header-section {
  margin: 0.5rem 0rem 2rem;
}
.header-container {
  padding: 3rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #babbbe;

  .title {
    margin: 0 1rem 0 0;
    color: #4285f4;
  }

  .input-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    .mobile-search {
      display: none;
    }

    .input-container {
      min-width: 300px;
      position: relative;
      transition: all 0.3s ease-in-out;

      svg {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 25px;
        height: 25px;
      }

      input {
        transition: all 0.3s ease-in-out;
        padding-left: calc(1rem + 25px + 0.5rem);
      }
    }

    .close-mob-search {
      display: none;
    }

    select {
      color: #4285f4;
      width: 170px;
    }

    .dropdown {
      position: relative;
      cursor: pointer;

      span {
        font-size: 1rem;
        font-weight: 400;
        color: #4285f4;
        margin-right: 2rem;
      }

      svg {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 767.9px) {
  .header-container {
    padding: 2.5rem 0.2rem 1rem;

    .input-section {
      gap: 0.4rem;

      .mobile-search {
        background: #eaecef;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;

        svg {
          width: 22px !important;
          height: 22px !important;
        }
      }

      .input-container {
        display: none;
        min-width: 180px;

        svg {
          top: 0.7rem !important;
          left: 0.5rem;
          width: 20px !important;
          height: 20px !important;
        }

        input {
          padding-left: calc(0.5rem + 20px + 0.5rem);
        }
      }

      .close-mob-search {
        display: none;
      }

      .show-input-for-mobile {
        display: flex;
        align-items: center;
        z-index: 2;
        position: absolute;
        padding: 0 1.2rem;
        left: 0;
        right: 0;
        // width: 100%;
        background: rgba(255, 255, 255);

        .input-container {
          display: block;
          width: 88%;
        }

        .close-mob-search {
          display: block;
          margin-left: 1rem;
          cursor: pointer;
        }
      }

      select {
        width: 105px;
      }
    }
  }
}

::ng-deep {
  .mat-menu-content {
    min-width: 200px;

    .menu-list {
      li {
        padding: 1rem 0.8rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        color: #797a7c;
        transition: 0.3s all ease-in-out;

        &:hover {
          background: rgba(0, 0, 0, 0.15);
        }

        &:first-child {
          background: #c6dafc;
          color: #4285f4;
        }
      }
    }
  }
}
