:host {
  display: inline-block;
  width: 100%;
  max-width: 340px;
}

.speaker--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.03rem;
}

.speaker--img-wrp {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 2rem 0;

  &::after {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    background-position: left;
    background-size: cover;
    background-position: center;
  }

  :host:nth-child(4n + 1)  &::after {
    background-image: url("/assets/images/social-avatar/devfest-2022-social-avatar-blue.png");
  }

  :host:nth-child(4n + 2) &::after {
    background-image: url("/assets/images/social-avatar/devfest-2022-social-avatar-red.png");
  }

  :host:nth-child(4n + 3) &::after {
    background-image: url("/assets/images/social-avatar/devfest-2022-social-avatar-yellow.png");
  }

  :host:nth-child(4n + 4) &::after {
    background-image: url("/assets/images/social-avatar/devfest-2022-social-avatar-green.png");
  }
}

.speaker--img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  object-fit: cover;

  width: 100%;
  height: 100%;
  transform: translateY(-50%);
}

.speaker--name {
  font-weight: 500;
  font-size: 1.55rem;
  margin: 0 0 1.45rem 0;
}

.speaker--job-title {
  margin: 0 0 0.8rem 0;
}

.speaker--company {
  font-weight: 500;
}

.speaker--desc {
  line-height: 170%;
}
