<article class="speaker--card" *ngIf="speakerInfo">

  <div class="speaker--img-wrp">
    <!-- TODO: Add failsafe silhoete abi how them dey spell am -->
    <div class="speaker--img-bg"></div>
    <img src="assets/images/social-avatar/test-img.jpg" [alt]="'Photo of ' + speakerInfo.name" class="speaker--img" />
  </div>
  <header>
    <h2 class="speaker--name  cl--grey-900">{{ speakerInfo.name }}</h2>
    <p class="speaker--job-title cl--grey-600">
      {{ speakerInfo.jobTitle }}<span class="speaker--company" *ngIf="speakerInfo.company"> &nbsp;@{{ speakerInfo.company }}</span>
    </p>
  </header>

  <p class="speaker--desc cl--grey-600">
    {{ shortBio ? (speakerInfo.description | slice: 0:110) + '...'  : speakerInfo.description }}
  </p>

  <ul class="speaker--socials">
    <li class="speaker--git social--item">
      <a href="" class="social--link">
        <span class="visually-hidden" aria-labelledby="">
          GitHub Profile
        </span>
        <img src="assets/images/gh.svg" alt="github-logo">
      </a>
    </li>
    <li class="speaker--twitter social--item">
      <a href="" class="social--link">
        <span class="visually-hidden" aria-labelledby="">
          Twitter Profile
        </span>
        <img src="assets/images/twitter.svg" alt="github-logo">
      </a>
    </li>
    <li class="speaker--linkedin social--item">
      <a href="" class="social--link">
        <span class="visually-hidden" aria-labelledby="">
          LinkedIn Profile
        </span>
        <img src="assets/images/linkedin.svg" alt="github-logo">
      </a>
    </li>

  </ul>

  <button class="btn btn-outline_blue profile-btn" *ngIf="profileView" (click)="profileViewClick()">View Profile</button>
</article>
