<article class="speaker--card" *ngIf="speakerInfo">
  <div class="img-size">
    <div
      class="speaker--img-wrp"
      (click)="
        entryType === 'speakers-page'
          ? openSpeaker(speakerInfo, '3000ms', '1500ms')
          : 0
      "
    >
      <!-- TODO: Add failsafe silhoete abi how them dey spell am -->
      <div class="speaker--img-bg"></div>
      <img
        [src]="speakerInfo.avatar ? speakerInfo.avatar : speakerInfo.image"
        [alt]="'Photo of ' + speakerInfo.name"
        class="speaker--img"
      />
    </div>
  </div>
  <header>
    <h2 class="speaker--name cl--blue-500">
      {{ speakerInfo.name }}
    </h2>

    <p class="speaker--job-title cl--grey-600">
      <ng-container *ngIf="speakerInfo.organization">
        {{ speakerInfo.organization }}
      </ng-container>
      <ng-container *ngIf="speakerInfo.role && entryType === 'organizer'">
        {{ speakerInfo.role }}
      </ng-container>
      <ng-container *ngIf="speakerInfo.tagline">
        {{ speakerInfo.tagline }}
      </ng-container>
      <!-- <span class="speaker--company" *ngIf="speakerInfo.organization">
        &nbsp;@{{ speakerInfo.organization }}
      </span> -->
    </p>
  </header>

  <!-- <p class="speaker--desc cl--grey-600">
    {{ getTwoLinDesc(speakerInfo.bio) }}
  </p> -->

  <ul class="speaker--socials social--list">
    <li class="speaker--git social--item" *ngIf="speakerInfo.github">
      <a [href]="speakerInfo.github" target="_blank" class="social--link">
        <img src="/assets/images/icons/Github-devFest.svg" alt="Github" />
      </a>
    </li>
    <li class="speaker--twitter social--item" *ngIf="speakerInfo.twitter">
      <a [href]="speakerInfo.twitter" target="_blank" class="social--link">
        <img
          src="../../../assets/images/icons/Twitter-devFest.svg"
          alt="Github"
        />
      </a>
    </li>
    <li class="speaker--linkedin social--item" *ngIf="speakerInfo.linkedIn">
      <a [href]="speakerInfo.linkedIn" target="_blank" class="social--link">
        <img
          src="../../../assets/images/icons/LinkedIn_devFest.svg"
          alt="Github"
        />
      </a>
    </li>
  </ul>

  <button
    *ngIf="entryType === 'speakers-page'"
    class="btn btn-outline_blue"
    (click)="openSpeaker(speakerInfo, '3000ms', '1500ms')"
  >
    View Profile
  </button>

  <button
    *ngIf="entryType === 'contributor'"
    class="btn btn-outline_blue"
    (click)="gotToPortfolio(speakerInfo?.portfolio)"
  >
    View Portfolio
  </button>
</article>
