<section class="speakers-section">
  <div class="container">
    <header class="sect--header">
      <h1 class="sect--title">Meet Some of our Speakers</h1>
    </header>

    <ul class="speakers--list">
      <li class="speaker--item" app-speaker-card [profileView]="false"></li>
      <li class="speaker--item" app-speaker-card [profileView]="false"></li>
      <li class="speaker--item" app-speaker-card [profileView]="false"></li>
      <li class="speaker--item" app-speaker-card [profileView]="false"></li>
      <li class="speaker--item" app-speaker-card [profileView]="false"></li>
    </ul>
  </div>

  <a routerLink="speakers" class="btn btn-outline_blue speakers-link">
    View All Speakers
  </a>
</section>
