@use "/src/scss/abstracts/mixins" as *;

:host {
  display: block;
  padding: 2.2rem 0 4rem 0;

  @include lg {
    padding: 6rem 0 4rem 0;
    padding: 8rem 0;
  }
}

.sect--header {
  margin: 0 0 1.45rem 0;

  @include md {
    margin: 0 0 2.5rem 0;
  }

  @include lg {
    margin: 0 0 4rem 0;
  }
}

.speakers--list {
  margin: 0 0 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 0.65rem;
  row-gap: 3rem;

  @include md {
    column-gap: 1.9375rem;
  }

  @include lg {
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
  }
}

.speaker--item {

  @include max-lg {
    width: 30vw;
    max-width: 15.6rem;
  }

  @include max-sm {
    width: 40vw;
  }

  @include lg {
    margin-bottom: 5rem;
    width: 100%;
  }
  @include max-lg {
    // 3rd card stays in the middle
    &:nth-child(3n) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

.speakers-link {
  margin: auto;
}
