<ng-container *ngIf="!speakers && !sponsors && !speakers">
  <app-loader></app-loader>
</ng-container>

<ng-container>
  <!-- Countdown section -->
  <!-- <app-countdown></app-countdown> -->

  <!-- Banner Section -->
  <hm-banner></hm-banner>

  <!-- Intro section -->
  <hm-intro></hm-intro>

  <!-- Some Speakers Section -->
  <hm-speakers [speakers]="speakers"></hm-speakers>

  <!-- Sponsors Section -->
  <hm-sponsors [sponsors]="sponsors"></hm-sponsors>

  <!-- Session Section -->
  <hm-sessions [sessions]="sessions"></hm-sessions>

  <!-- Gallery section -->
  <hm-gallery></hm-gallery>

  <!-- Event section -->
  <hm-events-details></hm-events-details>

  <!-- FAQ section -->
  <hm-faq></hm-faq>
</ng-container>
