 /**
 *  @stylesheet accessibility.scss Accessibility
 *  @parent styleguide
 *
 *  Accessibility related styles
 */


/**
* Safeley turns off animations for users who decline
*
* Use classname `safe-animation` with caution to ignore this rule
*/
@media (prefers-reduced-motion: reduce) {
  *:not(.safe-animation),
  *:not(.safe-animation)::before,
  *:not(.safe-animation)::after {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
    opacity: 1 !important;
  }
}


/**
*  Visually hidden but accessible to screen readers
*/
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
