@use "/src/scss/abstracts/_mixins.scss" as *;

.container {
  width: 100%;
  padding-right: 7.5vw;
  padding-left: 7.5vw;
  margin-right: auto;
  margin-left: auto;

  @include sm {
    max-width: 90%;
    padding-right: 15px;
    padding-left: 15px;
  }


  @include md {
  }

  @include lg {
    max-width: 89%;
  }

  @include xl {
    max-width: 1500px;
  }
}
