/**
 *  @stylesheet typography.scss Typography
 *  @parent styleguide
 *
 *  Typography related styles
 */

@use "../abstracts/mixins" as *;

/** Product Sans font */
@font-face {
  font-family: "Product Sans";
  src: url("/assets/fonts/product-sans/product_sans_bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/product-sans/product_sans_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("/assets/fonts/product-sans/product_sans_medium-webfont.woff2") format("woff2"),
    url("/assets/fonts/product-sans/product_sans_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("/assets/fonts/product-sans/product_sans_regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/product-sans/product_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
  font-family: "Product Sans", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans";
}


.sect--header {
  color: var(--color-grey-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Product Sans";
}

.sect--title {
  font-size: 1.55rem;
  font-weight: 500;
  margin-bottom: 1.5rem;

  @include sm {
    font-size: 2rem;
  }

  @include lg {
    font-size: 2.72rem;
  }
}

.sect--lead {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}
