
.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 3.25rem;
  padding: 0.4rem 1.25rem;

  font-size: 1.12rem;
  font-weight: 400;
  text-align: center;
  font-family: "Product Sans";

  border-radius: 4px;

  transition: 200ms background-color ;
  transform-origin: left;

  &:hover {
    cursor: pointer;
  }
}

.btn-blue {
  background-color: var(--color-blue-500);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-blue-600);
    // transform: scale(0.99);
  }
}

.btn-outline_white {
  font-weight: 500;
  background: none;
  border: 1px solid var(--color-white);

  &:hover {
    border: 0.08rem solid var(--color-white);
    background-color: var(--color-grey-800);
  }
}


.btn-outline_blue {
  font-weight: 500;
  background: none;
  border: 1px solid var(--color-blue-500);
  color: var(--color-blue-500);

  &:hover {
    background-color: var(--color-grey-100);
  }
}
