<footer class="main-footer">
  <div class="container">
    <div class="details-section">
      <img
        src="../../../assets/images/DF22-footer.svg"
        alt="devFest footer logo"
        class="logo"
      />

      <p class="about">
        We're a diverse and passionate team that takes ownership of your design
        and empower you to execute the roadmap. We stay light on our feet and
        truly enjoy delivering great work.
      </p>

      <div class="link-section">
        <a href="#">Privacy Policy</a>
        <a href="#">Community Guidelines</a>
      </div>

      <div class="icon-section">
        <img
          src="../../../assets/images/fb-footer.svg"
          alt="facebook icon"
          width="32"
          height="32"
        />
        <img
          src="../../../assets/images/linkedin-footer.svg"
          alt="Linkedin icon"
          width="32"
          height="32"
        />
        <img
          src="../../../assets/images/twitter.footer.svg"
          alt="Twitter icon"
          width="32"
          height="32"
        />
      </div>

      <button class="btn contact-btn">
        <img src="../../../assets/images/hand-contact-us.png" alt="wave" />
      </button>
    </div>

    <div class="all-right-section">
      &copy;{{ year }} DevFest Lagos {{ year }}. All Rights Reserved.
    </div>
  </div>
</footer>
