<section class="gallery-sect">
  <div class="container">
    <header class="sect--header">
      <h1 class="visually-hidden">Gallery</h1>
      <p class="sect--title">We have come a long way</p>
      <p class="sect--lead">Catch up on previous DevFest Lagos events.</p>
    </header>

    <div class="highlight--vid-wrp">
      <app-video>
        <video
          class="highlight-vid"
          src=""
          title="DEVFEST 2021 HIGHLIGHT"
          poster="assets/images/hightlight-video-poster.png"
          #video
        ></video>
      </app-video>
    </div>

    <ul class="timeline--list">
      <li class="timeline--item">
        <figure class="timeline--fig">
          <img src="assets/images/gallery-test-1.png" class="timeline--img__main" />
          <img src="assets/images/gallery-test-2.png" class="timeline--img__sub1" />
          <img src="assets/images/gallery-test-3.png" class="timeline--img__sub2" />
          <figcaption class="visually-hidden">
            Images of *Timeline Title*
          </figcaption>
        </figure>

        <div class="timeline--info">
          <h2 class="timeline--title">DEVFEST 2021</h2>
          <div class="desc">
            <p class="date">5th December, 2022</p>
            <p class="location">
              Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
            </p>
          </div>
          <a href="" class="btn btn-outline_blue"> View All Pictures </a>
        </div>
      </li>
      <li class="timeline--item">
        <figure class="timeline--fig">
          <img src="assets/images/gallery-test-1.png" class="timeline--img__main" />
          <img src="assets/images/gallery-test-2.png" class="timeline--img__sub1" />
          <img src="assets/images/gallery-test-3.png" class="timeline--img__sub2" />
          <figcaption class="visually-hidden">
            Images of *Timeline Title*
          </figcaption>
        </figure>

        <div class="timeline--info">
          <h2 class="timeline--title">DEVFEST 2019</h2>
          <div class="desc">
            <p class="date">5th December, 2022</p>
            <p class="location">
              Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
            </p>
          </div>
          <a href="" class="btn btn-outline_blue"> View All Pictures </a>
        </div>
      </li>
      <li class="timeline--item">
        <figure class="timeline--fig">
          <img src="assets/images/gallery-test-1.png" class="timeline--img__main" />
          <img src="assets/images/gallery-test-2.png" class="timeline--img__sub1" />
          <img src="assets/images/gallery-test-3.png" class="timeline--img__sub2" />
          <figcaption class="visually-hidden">
            Images of *Timeline Title*
          </figcaption>
        </figure>

        <div class="timeline--info">
          <h2 class="timeline--title">DEVFEST 2021</h2>
          <div class="desc">
            <p class="date">5th December, 2018</p>
            <p class="location">
              Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
            </p>
          </div>
          <a href="" class="btn btn-outline_blue"> View All Pictures </a>
        </div>
      </li>
    </ul>
  </div>
</section>
