<section class="gallery-sect">
  <div class="container">
    <!-- <app-page-title [title]="title" [hasSearch]="false"></app-page-title> -->

    <header class="sect--header">
      <h1 class="visually-hidden">Gallery</h1>
      <p class="sect--title">We have come a long way</p>
      <p class="sect--lead">Catch up on previous DevFest Lagos events.</p>
    </header>

    <div class="highlight--vid-wrp">
      <app-video>
        <video
          class="highlight-vid"
          src=""
          title="DEVFEST 2021 HIGHLIGHT"
          poster="assets/images/hightlight-video-poster.png"
          #video
        ></video>
      </app-video>
    </div>

    <ul class="timeline--list">
      <li class="timeline--item">
        <figure class="timeline--fig">
          <img
            src="assets/images/gallery/df-21-1.jpg"
            class="timeline--img__main"
          />
          <img
            src="assets/images/gallery/df-21-2.jpg"
            class="timeline--img__sub1"
          />
          <img
            src="assets/images/gallery/df-21-3.jpg"
            class="timeline--img__sub2"
          />
          <figcaption class="visually-hidden">
            Images of DevFest Lagos 2021
          </figcaption>
        </figure>

        <div class="timeline--info">
          <h2 class="timeline--title">DEVFEST 2021</h2>
          <div class="desc">
            <p class="date">5th December, 2022</p>
            <p class="location">
              Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
            </p>
          </div>
          <a href="" class="btn btn-outline_blue"> View All Pictures </a>
        </div>
      </li>
      <li class="timeline--item">
        <figure class="timeline--fig">
          <img
            src="assets/images/gallery/df-19-1.jpg"
            class="timeline--img__main"
          />
          <img
            src="assets/images/gallery/df-19-2.jpg"
            class="timeline--img__sub1"
          />
          <img
            src="assets/images/gallery/df-19-3.jpg"
            class="timeline--img__sub2"
          />
          <figcaption class="visually-hidden">
            Images of DevFest Lagos 2019
          </figcaption>
        </figure>

        <div class="timeline--info">
          <h2 class="timeline--title">DEVFEST 2019</h2>
          <div class="desc">
            <p class="date">5th December, 2022</p>
            <p class="location">
              Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
            </p>
          </div>
          <a href="" class="btn btn-outline_blue"> View All Pictures </a>
        </div>
      </li>
      <li class="timeline--item">
        <figure class="timeline--fig">
          <img
            src="assets/images/gallery/df-18-1.jpg"
            class="timeline--img__main"
          />
          <img
            src="assets/images/gallery/df-18-2.jpg"
            class="timeline--img__sub1"
          />
          <img
            src="assets/images/gallery/df-18-3.jpg"
            class="timeline--img__sub2"
          />
          <figcaption class="visually-hidden">
            Images of DevFest Lagos 2018
          </figcaption>
        </figure>

        <div class="timeline--info">
          <h2 class="timeline--title">DEVFEST 2018</h2>
          <div class="desc">
            <p class="date">5th December, 2022</p>
            <p class="location">
              Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
            </p>
          </div>
          <a href="" class="btn btn-outline_blue"> View All Pictures </a>
        </div>
      </li>

      <li class="timeline--item">
        <figure class="timeline--fig">
          <img
            src="assets/images/gallery/df-16-1.jpg"
            class="timeline--img__main"
          />
          <img
            src="assets/images/gallery/df-16-2.jpg"
            class="timeline--img__sub1"
          />
          <img
            src="assets/images/gallery/df-16-3.jpg"
            class="timeline--img__sub2"
          />
          <figcaption class="visually-hidden">
            Images of DevFest Lagos 2016
          </figcaption>
        </figure>

        <div class="timeline--info">
          <h2 class="timeline--title">DEVFEST 2016</h2>
          <div class="desc">
            <p class="date">5th December, 2022</p>
            <p class="location">
              Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
            </p>
          </div>
          <a href="" class="btn btn-outline_blue"> View All Pictures </a>
        </div>
      </li>

    </ul>
  </div>
</section>
