<section class="container section-spacing gallery-section">
  <div class="header-section">
    <h3 class="title">Gallery</h3>
    <p class="sub-title">
      Here are some highlights from the previous DevFest Lagos editions.
    </p>
  </div>

  <div class="gallery-img-section">
    <div class="box-1">
      <img src="../../../assets/images/gallery-1.png" alt="gallery pics" />
      <img src="../../../assets/images/gallery-2.png" alt="gallery pics" />
      <img
        src="../../../assets/images/gallery-3.png"
        alt="gallery pics"
        class="grid-col-span-2"
      />
    </div>

    <div class="box-2">
      <div class="overlay">
        <button routerLink="/gallery" class="btn view-pic-btn">
          View All Pictures
        </button>
      </div>
      <img src="../../../assets/images/gallery-4.png" alt="gallery pics" />
    </div>
  </div>
</section>
