@use  "/src/scss/abstracts/mixins" as *;

:host ::ng-deep .vid--container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 55.35%;

  @include lg {
    padding-bottom: 35.75%;
  }
  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
  }

  &:hover {
    cursor: pointer;

    .ctrl-btn {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.2);
      transition-duration: 300ms;
    }
  }
}

:host ::ng-deep video {
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

:host ::ng-deep .vid--controls {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

:host ::ng-deep .ctrl-btn {
  background: none;
  border-radius: 50%;
  overflow: hidden;
  width: 2.8rem;

  @include lg {
    width: 5rem;
  }
}

.vid--title {
  position: absolute;
  color: white;
  z-index: 11;
  width: 100%;
  padding: 1rem;

  font-size: 1rem;
  bottom: 0.5rem;
  text-align: center;
  font-weight: 500;

  @include md {
    font-size: 1.48rem;
    bottom: 2.5rem;
    letter-spacing: 0.06rem;
  }
}
