.contact-section {
  .contact-bg {
    height: 300px;
    width: 100%;
    margin-top: 5rem;
  }

  .contact-form-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    .event-details-list {
      margin: 2.5rem 0;

      li {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1.2rem;
        //   font-weight: 500;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .form-container {
      background: #ffffff;
      padding: 3rem;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      width: 40%;
      margin: -200px 5% 0 auto;

      .form-control {
        margin-bottom: 1.5rem;
      }

      textarea {
        height: 150px;
      }

      .btn {
        margin-top: 3rem;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 991.9px) {
  .contact-section {
    .contact-bg {
      height: 250px;
      margin-top: 2rem;
    }

    .contact-form-section {
      .event-details-list {
        margin-right: 2.5rem;

        li {
          font-size: 0.9rem;
        }
      }

      .form-container {
        padding: 2rem;
        border-radius: 4px;
        width: 42%;
        margin: -160px 4% 0 auto;
      }
    }
  }
}

@media screen and (max-width: 767.9px) {
  .contact-section {
    .contact-bg {
      height: 170px;
    }

    .contact-form-section {
    //   justify-content: center;
      flex-wrap: wrap;

      .event-details-list {
        order: 2;
        margin: 1.5rem 0;

        li {
          gap: 1.5rem;
          margin-bottom: 1rem;
          font-size: 0.85rem;
        }
      }

      .form-container {
        order: 1;
        padding: 1.5rem;
        width: 92%;
        margin: -100px auto 3rem;
      }
    }
  }
}
