/**
*  Global styles
*/

@use "./base/reset";
@use "./base/material-config";
@use "./base/accessibility";
@use "./base/typography";
@use "./base/colors";
@use "./base/layout";
@use "./base/buttons.scss";

@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

/****** Utilities *******/

// text alignment
.text-center {
  text-align: center;
}

// Carousel style (Owl library)

.session-list {
  .owl-carousel .owl-item {
    width: 495px !important;
    margin: 0 0 0 0 !important;

    &:last-child {
      margin: 0 !important;
    }
  }

  .owl-dots {
    text-align: left;

    .owl-dot span {
      background: #babbbe;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
  }
  .owl-theme .owl-dots .owl-dot.active span {
    width: 40px;
    background: #34a853;
    border-radius: 20px;
  }

  .owl-theme .owl-dots .owl-dot:hover span {
    background: #34a853;
  }

  @media screen and (max-width: 991.9px) {
    .owl-carousel .owl-item {
      width: 445px !important;
    }

    .owl-carousel .owl-stage-outer {
      height: 260px;
    }
  }

  @media screen and (max-width: 640px) {
    .owl-carousel .owl-item {
      width: 320px !important;
    }

    .owl-carousel .owl-stage-outer {
      height: 200px;
    }

    .owl-dots {
      .owl-dot span {
        width: 8px;
        height: 8px;
      }
    }
    .owl-theme .owl-dots .owl-dot.active span {
      width: 25px;
    }
  }
}

// Header section

.header-section {
  color: #202124;
  margin: 0.5rem 0.5rem 2rem;

  .title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .sub-title {
    font-size: 1.25rem;
    width: 75%;
    margin: auto;
    font-weight: 400;
  }
}

@media screen and (max-width: 991.9px) {
  .header-section {
    .title {
      font-size: 2.3rem;
      margin-bottom: 0.75rem;
    }
    .sub-title {
      font-size: 1rem;
      width: 80%;
      margin: auto;
    }
  }
}

@media screen and (max-width: 640px) {
  .header-section {
    .title {
      font-size: 1.5rem;
      margin: 0 1rem 0.5rem;
    }
    .sub-title {
      font-size: 0.9rem;
      width: 90%;
    }
  }
}

// Form styles

.form-control {
  height: 55px;
  width: 100%;
  border: 0.5px solid #797a7c;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  padding: 1.15rem 1rem;
  transition: 0.3s all ease-in-out;

  &:focus {
    border-width: 1px;
    border-color: #4285f4;
    color: #4285f4;

    svg path {
      stroke: #4285f4;
    }
  }
}

.form-control::placeholder,
.form-control::-webkit-input-placeholder,
.form-control:-moz-placeholder,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder {
  color: #babbbe !important;
}

.form-control:focus-visible {
  outline: unset !important;
}

@media screen and (max-width: 767.9px) {
  .form-control {
    height: 40px;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}
