/**
*  Global styles
*/

@use "./base/reset";
@use './base/material-config';
@use "./base/accessibility";
@use "./base/typography";
@use "./base/colors";
@use "./base/layout";
@use "./base/buttons.scss";
