<section class="intro--sect">
  <div class="container">
    <div class="inner">
      <div class="intro--info-area">
        <header class="sect--header">
          <h1 class="sect--title">Join Us For DevFest<br> Lagos 2022!</h1>
          <p class="sect--lead">
            Whether you're a beginner or an expert, a code or no-code techie,
            DevFest is for everyone! Come ready to mingle, share your knowledge,
            and learn something new. See you soon!
          </p>
        </header>
        <div class="time-n-date">
          <p class="date">5th December, 2022</p>
          <p class="location">
            Plot 3 & 4, Water Corporation Road, Victoria Island - Lagos
          </p>
        </div>

        <a routerLink="#" class="btn btn-blue reg--btn"> Reserve A Ticket </a>
      </div>

      <div class="intro--video-area">
        <div class="highlight--vid-wrp">
          <app-video>
            <video
              class="highlight-vid"
              src=""
              title="DEVFEST 2021 HIGHLIGHT"
              poster="assets/images/hightlight-video-poster.png"
              #video
            ></video>
          </app-video>
        </div>
      </div>
    </div>
  </div>
</section>
