@use "/src/scss/abstracts/mixins" as *;

.intro--sect > .container > .inner {
  padding: 4.8rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include sm {
    padding: 6rem 0 5rem 0;
  }

  @include lg {
    padding: 10rem 0 5.5rem 0;
    align-items: initial;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    gap: 3.5rem;
    width: 94%;
  }
}

.intro--info-area {
  @include max-lg {
    margin: 0 0 2rem 0;
  }
}

.sect--header {
  margin: 0 0 2.1rem 0;

  @include lg {
    margin: 0 0 1.4rem 0;
    text-align: left;
    align-items: flex-start;
  }
}

.sect--title {
  line-height: 140%;
  max-width: 32rem;
  @include lg {
  }
}

.sect--lead {
  line-height: 170%;
  max-width: 31rem;
  @include lg {
    max-width: 34rem;
  }
}

.time-n-date {
  margin: 0 auto 2.6rem auto;
  width: fit-content;

  @include lg {
    margin: 0 0 2rem 0;
  }

  > p {
    width: fit-content;
    padding-left: 2.06rem;
    font-size: 1.125rem;
    color: var(--color-grey-800);
    max-width: 20rem;
    line-height: 140%;
    position: relative;

    @include lg {
      max-width: 25rem;
    }
  }

  > p:not(:last-child) {
    // margin: 0 auto 0.88rem auto;
    margin: 0 0 1.2rem 0;

    @include lg {
      margin: 0 0 0.88rem 0;
    }
  }

  & > p::before {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-grey-300);
    content: "";
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    margin: 0.2rem 0 1rem 0;
  }
}

.reg--btn {
  @include max-lg {
    margin: auto;
  }
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.intro--video-area {
  padding-top: 2rem;
  width: 100%;
}

app-video ::ng-deep .vid--container {
  width: 100%;
  padding-bottom: 55.35%;
}

app-video ::ng-deep .vid--title {
  font-size: 1.25rem;
  bottom: 0.875rem;
}
